.spinner {
    height: calc(100vh - 250px);
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots .dot{
   height: 10px;
   width: 10px;
   background-color: darkblue;
   border-radius: 50%;
   position: absolute;
   animation: spin 1.5s linear infinite;
   opacity: 0;
}

@keyframes spin {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}