:root {
  --main-color: #efefef;
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --light-red-color: #e74c3c;
  --strong-red-color: #c0392b;
  --warning-color: #ffc107;
  --success-color: #28a745;
  --info-color: #2a7ddbb3;
  --gray-color: rgb(88, 88, 88);
  --white-color: #fff;
}

*{
  font-family: 'Noto Kufi Arabic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  direction: rtl;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

button:disabled {
  cursor: not-allowed;
}